body {
    font-family: Arial, sans-serif;
}

.landing-page {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 157, 255, 0.527);
    width: 100%;
    height: 100vh;

}

.landing-page li {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
}

.landing-page ul {
    list-style: none;
    padding: 0;
}

.landing-page ul li {
    gap: 0; /* Adjust the gap between icon and text as needed */
}

.landing-page ul li i {
    font-size: 2em; /* Changed font size to make icons larger */
}

.landing-page button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.main-app {
    /* Make sure this section takes the full height */
    height: 100vh; /* Optional */
}

.task-manager {
    text-align: center;
    margin: 0;
    width: 100%;
    height: calc(100vh - 50px); /* Adjust height according to the heading */
    background-size: cover;
    background-position: center;
    background-image: url(taskmanage.jpg);
    position: relative; /* Needed for absolute positioning of the button */
}

input[type="text"],
input[type="time"] {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

#back-btn {
    position: absolute; /* Position the button absolutely */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    padding: 10px 20px;
    background-color: #dc3545; /* Bootstrap danger color */
    color: #fff;
    border: none;
    cursor: pointer;
}
